@use "../../styles";

div {
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: 600;
  margin-right: 5px;
  font-size: 30px;
  background-color: white;
}

div.unguessed {
  background-color: white;
}

div.correct {
  background-color: #97ff97;
}

div.wrong {
  background-color: #ff7676;
}

.cursor-blink::after {
  content: "";
  width: 20px;
  height: 3px;
  background: black;
  display: inline-block;
  animation: cursor-blink-animation 1.5s infinite;
}

@keyframes cursor-blink-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}